/* The percentage controls what gets placed at the left border of the slider.
    Ex: 0% -> the left edge of the image is placed at the left edge of the screen
        Higher percentages move the image further left.
        */

/* Note that images indices start counting from 0*/
#slider-container .item[data-index="1"] picture > *  {
    object-position: 65% 50%;
}
#slider-container .item[data-index="2"] picture > *  {
    object-position: 60% 50%;
}
#slider-container .item[data-index="3"] picture > *  {
    object-position: 60% 50%;
}
#slider-container .item[data-index="4"] picture > *  {
    object-position: 50% 50%;
}

/* These rules apply to windows greater than 900px wide */
@media screen and (min-width: 900px) {
	#slider-container .item[data-index="4"] picture > *  {
        object-position: 100% 50%;
    }
}
