{%- assign og_title = page.og_title | default: page.title -%}
{%- assign og_image = page.og_image | default: "ogimage.jpg" -%}
{%- assign og_url = page.og_url | default: "https://alexwalker.co" -%}
{%- assign author = page.author | default: "Alex Walker" -%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ author }}">
    <meta name="description" content="Cinematographer, colorist."/>
    <meta name="keywords" content="Cinematographer,Colorist,Director,Portfolio,Photography,Vision,Camera,Experienced,Professional,"/>
    {%- if page.noindex %}
    <meta name="robots" content="noindex">
    {%- endif %}

    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:image" content="https://alexwalker.co/img/{{ og_image }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="">

    <link rel="shortcut icon" href="/img/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/touch-icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link media="all" type="text/css" rel="stylesheet" href="/css/style.css">
    <link media="all" type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    {%- if page.carousel_css %}
    <link media="all" type="text/css" rel="stylesheet" href="/packages/bootstrap/css/bootstrap-carousel.css">
    {%- endif %}
    <link media="all" type="text/css" rel="stylesheet" href="/packages/fancybox/jquery.fancybox.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,700' rel='stylesheet' type='text/css'>
    <script src="/packages/fancybox/jquery.fancybox.min.js"></script>
    <script src="/packages/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/js/scroller.js"></script>
    {%- if page.four_columns_grid %}

    <style type="text/css">
        @media screen and (min-width: 900px) {
            section .container.four-columns {
                grid-template-columns: 100%;
            }
            section .container.four-columns .thumbnails {
                grid-template-columns: repeat(4,1fr);
            }
        }
    </style>
    {%- endif %}
</head>
