{%- assign og_title = page.og_title | default: page.title -%}
{%- assign og_image = page.og_image | default: "ogimage.jpg" -%}
{%- assign og_url = page.og_url | default: "https://alexwalker.co" -%}
{%- assign author = page.author | default: "Alex Walker" -%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,viewport-fit=cover">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ author }}">
    <meta name="description" content="Cinematographer, colorist."/>
    <meta name="keywords" content="Cinematographer,Colorist,Director,Portfolio,Photography,Vision,Camera,Experienced,Professional,"/>
    {%- if page.noindex %}
    <meta name="robots" content="noindex">
    {%- endif %}

    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:image" content="https://alexwalker.co/img/{{ og_image }}">
    <meta property="og:title" content="{{ og_title }}">
    <meta property="og:description" content="">

    <link rel="shortcut icon" href="/img/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/img/touch-icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="/css/style.css">
    <link media="all" type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script type="module" src="/js/site.js"></script>
    <!-- Glass return-to-top button (renders into #glass-wrapper if present) -->
    <script defer src="/js/container.js"></script>
    <script defer src="/js/button.js"></script>
    <script defer src="/js/glass-return-to-top.js"></script>
    {%- if page.four_columns_grid %}

    <style type="text/css">
        @media screen and (min-width: 900px) {
            section .container.four-columns {
                grid-template-columns: 100%;
            }
            section .container.four-columns .thumbnails {
                grid-template-columns: repeat(4,1fr);
            }
        }
    </style>
    {%- endif %}
</head>
