{%- assign home = page.home_url | default: "/" -%}
<header class="dark">
    <nav class="container">
        <ul>
            <li class="logo text-start">
                <h1>
                    <a href="{{ home }}#slider">Alex Walker</a>
                </h1>
            </li>

            <li style="display: flex; align-items: center;">
                <a href="{{ home }}#cinematographer">Cinematographer</a>
            </li>

            <li style="display: flex; align-items: center;">
                <a href="{{ home }}#colorist">Colorist</a>
            </li>

            <li style="display: flex; align-items: center;">
                <a href="{{ home }}#about">Bio</a>
            </li>

            <li>
                <ul class="social" style="align-items: center; display: flex;">
                    <li>
                        <a href="https://www.imdb.com/name/nm4205213/?ref_=fn_al_nm_4" data-goatcounter-click="ext-imdb.com">
                            <img src="/img/imdbbutton.png" style="height:14px; margin-top:6px;">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@AlexWalker" data-goatcounter-click="ext-youtube.com">
                            <i class="ion-social-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/alex_walker47" data-goatcounter-click="ext-instagram.com">
                            <i class="ion-social-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://letterboxd.com/awalker47/" data-goatcounter-click="ext-letterboxd.com">
                            <img src="/img/LBbutton.png" style="height:14px; margin-top:6px;">
                        </a>
                    </li>
                </ul>
            </li>

            <li class="reel-button-menu">
                <div class="reel-button-container">
                    <button id="reel-button">
                        <a href="https://www.youtube.com/embed?listType=playlist&amp;list=PL3F20B91BBDDD03B3&amp;origin=https://alexwalker.co/" data-goatcounter-click="watch-reels">Watch Reels
                        </a>
                    </button>
                </div>
            </li>

            <li id="scroll-down-indicator" style="display: none;"></li>

        </ul>
    </nav>
</header>
