{%- assign home = page.home_url | default: "/" -%}
<header class="dark">
    <nav class="container">
        <ul>
            <li class="logo text-start">
                <h1>
                    <a href="{{ home }}#slider"><span class="name-bold">Alex</span> <span class="name-light">Walker</span></a>
                </h1>
            </li>

            <li style="display: flex; align-items: center;">
                <a href="{{ home }}#cinematographer">Cinematographer</a>
            </li>

            <li style="display: flex; align-items: center;">
                <a href="{{ home }}#colorist">Colorist</a>
            </li>

            <li style="display: flex; align-items: center;">
                <a href="{{ home }}#about">Bio</a>
            </li>

            <li>
                <ul class="social" style="align-items: center; display: flex;">
                    <li>
                        <a href="https://www.imdb.com/name/nm4205213/?ref_=fn_al_nm_4" data-goatcounter-click="ext-imdb.com" aria-label="IMDb">
                            <svg class="brand-imdb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 32" height="14" aria-hidden="true">
                                <rect width="64" height="32" rx="5" fill="#F5C518"/>
                                <text x="32" y="23" font-family="Helvetica, Arial, sans-serif" font-size="20" font-weight="900" text-anchor="middle" fill="#000">IMDb</text>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@AlexWalker" data-goatcounter-click="ext-youtube.com">
                            <i class="ion-social-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/alex_walker47" data-goatcounter-click="ext-instagram.com">
                            <i class="ion-social-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://letterboxd.com/awalker47/" data-goatcounter-click="ext-letterboxd.com" aria-label="Letterboxd">
                            <svg class="brand-letterboxd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 14" height="14" aria-hidden="true">
                                <circle cx="7" cy="7" r="6" fill="#FF8000"/>
                                <circle cx="22" cy="7" r="6" fill="#00E054"/>
                                <circle cx="37" cy="7" r="6" fill="#40BCF4"/>
                            </svg>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="reel-button-menu">
                <div class="reel-button-container">
                    <button id="reel-button">
                        <a href="https://www.youtube.com/embed?listType=playlist&amp;list=PL3F20B91BBDDD03B3&amp;origin=https://alexwalker.co/" data-goatcounter-click="watch-reels">Watch Reels
                        </a>
                    </button>
                </div>
            </li>

            <li id="scroll-down-indicator" style="display: none;"></li>

        </ul>
    </nav>
</header>
