<!doctype html>
<html lang="en">
{% include head.html %}

<body class="cinematic">
<div id="top"></div>

{% include site-header.html %}
<div id="glass-wrapper"></div>

<!-- Mobile-only floating Watch Reels pill. Hidden on desktop via CSS;
     shown fixed at bottom-center on phones (portrait + landscape). -->
<a id="reel-glass-button"
   href="https://www.youtube.com/embed/videoseries?si=IngTxKLA-MCqoOTJ&amp;list=PL3F20B91BBDDD03B3"
   data-autoplay="1"
   data-goatcounter-click="watch-reels-mobile">Watch Reels</a>

{{ content }}

<section class="copyright">
    <div class="copyright">&copy; Alex Walker 2003-<span id="copyright-current-year">2017</span></div>
</section>

{% include footer-scripts.html %}
</body>

</html>
